<div>
	<div >
		<h2 style="color: #f0ad4e;"><%=@ofuser.name%>'s Profile</h2>
		<hr/>
		<h4><strong><%=@ofuser.username%></strong><br></h4>
  	 	<h4><a href="mailto:<%=@ofuser.email%>"><%=@ofuser.email%></a></h4>
  		<h4><abbr title="Phone">Ph:</abbr> <%=@ofuser.phone%></h4>
		<h4>Under EP ID: <strong><%=@ofuser.ep_id%></strong></h4>
		
	</div>
	<div>
		<h2>Listing of all Projects applied</h4>
		<% for i in 0...@job_ar.length()%>
		<% x = @job_ar[i] %>
		<h4>Project Name: <%= link_to x.project_name,x %> </h4>
		<h4>Project Country: <%=x.country%> </h4>
		<h4>End date: <%=x.end_date%> </h4>
		<h4>Apply date: <%=@appdate[i]%> </h4>
		<h4> ----- </h4>
		<% end %>
	</div>
	<% if current_user.is_admin %>
	<div>
		<h3> Current Status : <%= @ofuser.match_status %> </h3>
		<h3> Change the user state to:</h3>
		<%= link_to "Raised",{controller: "users", action: "change_match_state", id: @ofuser.id , :state => "Raised"},:class=>"btn btn-primary" if @ofuser%>
		<%= link_to "Matched",{controller: "users", action: "change_match_state", id: @ofuser.id , :state => "Matched"},:class=>"btn btn-primary" if @ofuser%>
		<%= link_to "Realized",{controller: "users", action: "change_match_state", id: @ofuser.id , :state => "Realized"},:class=>"btn btn-primary" if @ofuser%>
	</div>
	<% end %>
</div>