<h1 style="font-weight: 200; margin-left: 100px;">List of all the active projects</h1>
<br/>

<table class="flat-table flat-table-3 center">
    <thead>
  <tr>
    <th>Project name</th>
    <th>Country</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.project_name %></td>
    <td><%= job.country %></td>
    <td><%= job.start_date %></td>
    <td><%= job.end_date %></td>
    <td><%= job.language %></td>
    <td><%= link_to 'Show', job, :class => "btn btn-sm btn-info" %></td>
    <td><%= link_to 'Edit', edit_job_path(job), :class => "btn btn-sm btn-warning" %></td>
    <td><% if job.status !=1 %><%= link_to 'Destroy', {controller: :jobs, action: :del, id: job.id},:class => "btn btn-sm btn-danger" %><% else %> <%= link_to 'Restore', {controller: :jobs, action: :restore, id: job.id},:class => "btn btn-sm btn-danger" %> <% end %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<div align="center" class="center center1">
<%= link_to 'New Project', new_job_path, :class => "btn btn-lg btn-primary center1" %>
</div>