<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Project name</th>
    <th>Country</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Brief description</th>
    <th>Job description</th>
    <th>Work information</th>
    <th>Skills</th>
    <th>Language</th>
    <th>Other details</th>
    <th>Applicants</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.project_name %></td>
    <td><%= job.country %></td>
    <td><%= job.start_date %></td>
    <td><%= job.end_date %></td>
    <td><%= job.brief_description %></td>
    <td><%= job.job_description %></td>
    <td><%= job.work_information %></td>
    <td><%= job.skills %></td>
    <td><%= job.language %></td>
    <td><%= job.other_details %></td>
    <td><%= job.applicants %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
