<h1 class="center" id="ajh">List of all the active jobs</h1>
<br/>

<table class="flat-table flat-table-3 center">
    <thead>
  <tr>
    <th>Project name</th>
    <th>Country</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.project_name %></td>
    <td><%= job.country %></td>
    <td><%= job.start_date %></td>
    <td><%= job.end_date %></td>
    <td><%= job.language %></td>
    <td><%= link_to 'Show', job, :class => "btn btn-info" %></td>
    <td><%= link_to 'Edit', edit_job_path(job), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Destroy', job, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<div class="center">
<%= link_to 'New Job', new_job_path, :class => "btn btn-primary center1" %>
</div>