<h1>Listing jobs</h1>

<table id="jobs">
  <tr>
    <th>Project name</th>
    <th>Country</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Brief description</th>
    <th>Job description</th>
    <th>Work information</th>
    <th>Skills</th>
    <th>Language</th>
    <th>Other details</th>
    <th></th>
	<th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.project_name %></td>
    <td><%= job.country %></td>
    <td><%= job.start_date %></td>
    <td><%= job.end_date %></td>
    <td><%= job.brief_description %></td>
    <td><%= job.job_description %></td>
    <td><%= job.work_information %></td>
    <td><%= job.skills %></td>
    <td><%= job.language %></td>
    <td><%= job.other_details %></td>
    <td><%= link_to 'Show', job %></td>
	<td><%= link_to 'Apply',  controller: "sessions", action: "apply", id: job  %></td>
  </tr>
<% end %>
</table>

<br />

