<h1 class="center" id="ajh">List of all the active Projects</h1>
<br/>

<table class="flat-table flat-table-3 center">
    <thead>
  <tr>
    <th>Project name</th>
    <th>Country</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Language</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.project_name %></td>
    <td><%= job.country %></td>
    <td><%= job.start_date %></td>
    <td><%= job.end_date %></td>
    <td><%= job.language %></td>
    <td><%= link_to 'Show', job, :class => "btn btn-info" %></td>
    <td><%= link_to 'Apply',  {controller: "sessions", action: "apply", id: job }, :class => "btn btn-success" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
