<p id="notice"><%= notice %></p>

<div class="jumbotron" style="padding: 20px;">
<p>
  <h2 style="font-weight: 200;"><%= @job.project_name %></h2>
</p>
</div>

<div style="background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%); background-color: #fcf8f2; border-left: 3px solid #f0ad4e; padding: 20px; color: black; ">
    <%= @job.country %>
</div>

<div style="background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%); border-left: 3px solid #f0ad4e; padding: 20px; color: black;">
    <%= @job.start_date %> -  <%= @job.end_date %>
</div>

<div style="background-color: #fcf8f2; border-left: 3px solid #f0ad4e; padding: 20px; color: black;">
  <strong>Brief Description</strong>: <%= @job.brief_description %>
</div>


<div style="background-color: #fcf8f2; border-left: 3px solid #f0ad4e;  padding: 20px; color: black;">
  <strong>Work Description</strong>: <%= @job.work_information %>
</div>

<div style="background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%); border-left: 3px solid #f0ad4e; padding: 20px; color: black;">
  <b>Language:</b>
  <%= @job.language %>
</div>
<p>
  <b>Other details:</b>
  <%= @job.other_details %>
</p>

<% if @current_user.is_admin %>
<%= link_to 'Back', :controller => "jobs", :action => "index" %>
<% else %>
<%= link_to 'Back', :controller => "jobs", :action => "index_user" %>
<% end %>
