<div class="container center">
<div class= "col-md-4 center col-md-offset-4">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p>          
       <%= f.text_field :ep_id,{:class => "form-control",:placeholder => "Ep ID",:required => true}%>
    </p>
    <p>          
       <%= f.text_field :name,{:class => "form-control",:placeholder => "Name",:required => true}%>
    </p>
    <p>          
      <%= f.text_field :username,{:class => "form-control",:placeholder => "Username",:required => true}%>
    </p>

    <p>
       <%= f.text_field :email,{:class => "form-control",:placeholder => "Email",:required => true}%>
    </p>
    <p>
       <%= f.text_field :phone,{:class => "form-control",:placeholder => "Contact Number",:required => true}%>
    </p>
    <p>      
       <%= f.password_field :password,{:class => "form-control",:placeholder => "Password",:required => true}%>
    </p>

    <p>     
       <%= f.password_field :password_confirmation,{:class => "form-control",:placeholder => "Password Confirmation",:required => true}%>
    </p>

    <%= f.submit :Signup,:class => "btn btn-success center1" %>
  <% end %>

  <% if @user.errors.any? %>
	<ul class="Signup_Errors">
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>
</div>
</div>